@model long

<div class="dashboardservice bg-dark text-white p-6 rounded-md shadow-md">
    <i class="fas fa-users fa-2x d-inline"></i>
    <h5>Total Users</h5>
    <p class="text-white">@Model</p>
</div>
