<div class="dashboardservice bg-dark text-white p-6 rounded-md shadow-md">
    <i class="fas fa-dollar-sign fa-2x d-inline"></i>
    <h5>Total Sales</h5>
    <p class="text-white">₱ @String.Format("{0:N2}", Model)</p>
</div>
