@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-color: whitesmoke;
    }
</style>

<h1 class="text-center mb-4">@ViewData["Title"]</h1>

<p>This is the site's privacy & policy.</p>
